<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oliver Williams — Portfolio</title>
    <link rel="icon" type="/assets/svg+xml" href="/assets/favicon.svg">

    <link rel="stylesheet" href="assets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Gaegu:400,700&display=swap" rel="stylesheet">


</head>

<body>
    <main>
        <div class="flow-root hide-on-mobile">

            <a class="emphasis float-right" href="mailto:oliverwilliams345@gmail.com"> oliverwilliams345@gmail.com</a>
            <a class="link-button right bottom float-right" download href="assets/oliverwilliamscv.pdf">Download CV
                (PDF)</a>
        </div>

        <div style='margin-top: 48px;' class="grid-3-4 top-of-page">

            <div class="four-images">
                <img src="assets/choose.png" alt="">
                <img src="assets/phones-square.png" alt="">
                <div class="portfolio">
                    <h2 class="portfolio__text">ui/ux</h2>
                </div>
                <img src="assets/nature.png" alt="">
            </div>

            <div class="intro">
                <p> I am Ollie Williams, a London-based <span class="bold">ux/ui designer</span>.</p>
                <p>I'm currently doing design work on a web application for a cybersecurity company. Previously I was building a design system at giffgaff — the mobile network &ldquo;run by you&rdquo;. Prior to that I was working on <a href="https://www.nature.com/">Nature.com</a>, home to 148 academic
                    journals, including Nature — the world's most cited scientific journal.</p>
                    <p>I often write about design tooling, CSS, and user experience, some of which I have collected on this site.</p>
            </div>
        </div>

        <div class="hide-on-desktop" style="margin-top: 24px;">
            <a class=" link-button" download href="assets/oliverwilliamscv.docx">Download CV
                (Word)</a>
            <a style="margin-top: 24px; display: block; text-align: center;" class="emphasis"
                href="mailto:oliverwilliams345@gmail.com">
                oliverwilliams345@gmail.com</a>

            <div class="icon-container" style="text-align: center; margin-top: 24px;">
                <a style="text-align: right;" href="http://github.com/o-t-w"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 32.58 31.77">
                        <path
                            d="M16.29 0a16.29 16.29 0 0 0-5.15 31.75c.82.15 1.11-.36 1.11-.79v-2.77C7.7 29.18 6.74 26 6.74 26a4.36 4.36 0 0 0-1.81-2.39c-1.47-1 .12-1 .12-1a3.43 3.43 0 0 1 2.49 1.68 3.48 3.48 0 0 0 4.74 1.36 3.46 3.46 0 0 1 1-2.18c-3.62-.41-7.42-1.81-7.42-8a6.3 6.3 0 0 1 1.67-4.37 5.94 5.94 0 0 1 .16-4.31s1.37-.44 4.48 1.67a15.41 15.41 0 0 1 8.16 0c3.11-2.11 4.47-1.67 4.47-1.67a5.91 5.91 0 0 1 .2 4.28 6.3 6.3 0 0 1 1.67 4.37c0 6.26-3.81 7.63-7.44 8a3.85 3.85 0 0 1 1.11 3v4.47c0 .53.29.94 1.12.78A16.29 16.29 0 0 0 16.29 0z"
                            fill="var(--purple)" fill-rule="evenodd" /></svg></a>
                <a class="" href="https://www.linkedin.com/in/oliver-williams-8b5646184/"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2490 2490">
                        <path
                            d="M2306 0H184C82.42 0 0 79.91 0 178.37v2133.32C0 2410.15 82.43 2490 184 2490h2122c101.65 0 184-79.86 184-178.34V178.37C2490 79.91 2407.62 0 2306 0zM756.69 2083.8H384.08v-1121h372.61zm-186.23-1274H568c-125 0-205.9-86.08-205.9-193.66 0-110 83.29-193.69 210.81-193.69s205.89 83.67 208.32 193.7c.02 107.54-80.86 193.62-210.77 193.62zm1529.82 1274h-372.57v-599.64c0-150.72-54-253.51-188.74-253.51-103 0-164.27 69.32-191.19 136.29-9.84 23.9-12.27 57.45-12.27 90.91v626H962.93s4.89-1015.84 0-1121h372.58v158.68c49.53-76.37 138.18-185 335.81-185 245.14 0 428.94 160.23 428.94 504.54z"
                            fill="var(--purple)" /></svg></a>
            </div>
        </div>


        <div class="mt-80 case-studies">
            <div>
                <h2>Case studies</h2>
                <div>
                    <a href="/design-system">Building a design system</a>
                    <a href="/redesigning-the-phones-listing-page">Phones range redesign</a>
                        <a href="/bootstrap">Figma component library</a>
                </div>
            </div>
        </div>         

        <div class="mt-80 writing">
            <h2>Writing</h2>

            <ul class="multi-col-two-col">
                {{#each articles}}
                <li>
                    <a href="{{this.url}}">{{this.title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>


    </main>
    <div class="mt-80 hide-on-mobile bg-purple" style="position: relative;">
  <svg preserveAspectRatio="none" class="svg-bg" width="1368" height="559" viewBox="0 0 1368 559" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1356.28 0 6.352 1.221 0 352.646l7.313 170.235-1.858 35.426 682.57-8.904 677.095 7.123-3.34-49.221-.23-.004 6.24-279.624L1356.28 0Z" fill="#5651FF"/></svg>

        <a style="text-align: right;" href="http://github.com/o-t-w"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32.58 31.77">
                <path
                    d="M16.29 0a16.29 16.29 0 0 0-5.15 31.75c.82.15 1.11-.36 1.11-.79v-2.77C7.7 29.18 6.74 26 6.74 26a4.36 4.36 0 0 0-1.81-2.39c-1.47-1 .12-1 .12-1a3.43 3.43 0 0 1 2.49 1.68 3.48 3.48 0 0 0 4.74 1.36 3.46 3.46 0 0 1 1-2.18c-3.62-.41-7.42-1.81-7.42-8a6.3 6.3 0 0 1 1.67-4.37 5.94 5.94 0 0 1 .16-4.31s1.37-.44 4.48 1.67a15.41 15.41 0 0 1 8.16 0c3.11-2.11 4.47-1.67 4.47-1.67a5.91 5.91 0 0 1 .2 4.28 6.3 6.3 0 0 1 1.67 4.37c0 6.26-3.81 7.63-7.44 8a3.85 3.85 0 0 1 1.11 3v4.47c0 .53.29.94 1.12.78A16.29 16.29 0 0 0 16.29 0z"
                    fill="white" fill-rule="evenodd" /></svg></a>
        <a class="" href="https://www.linkedin.com/in/oliver-williams-8b5646184/"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2490 2490">
                <path
                    d="M2306 0H184C82.42 0 0 79.91 0 178.37v2133.32C0 2410.15 82.43 2490 184 2490h2122c101.65 0 184-79.86 184-178.34V178.37C2490 79.91 2407.62 0 2306 0zM756.69 2083.8H384.08v-1121h372.61zm-186.23-1274H568c-125 0-205.9-86.08-205.9-193.66 0-110 83.29-193.69 210.81-193.69s205.89 83.67 208.32 193.7c.02 107.54-80.86 193.62-210.77 193.62zm1529.82 1274h-372.57v-599.64c0-150.72-54-253.51-188.74-253.51-103 0-164.27 69.32-191.19 136.29-9.84 23.9-12.27 57.45-12.27 90.91v626H962.93s4.89-1015.84 0-1121h372.58v158.68c49.53-76.37 138.18-185 335.81-185 245.14 0 428.94 160.23 428.94 504.54z"
                    fill="white" /></svg></a>
        <a class="handwritten" href="mailto:oliverwilliams345@gmail.com">oliverwilliams345@gmail.com</a>
        <img class="qr" src="assets/white-qr.png" alt="">

        {{!-- <svg style="width: 200px; margin-inline: auto;" fill="lch(51% 132 17)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252.93 121.32"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M54.25,18.19a48.58,48.58,0,0,1,21.8,5A46.82,46.82,0,0,1,95,39.65a49.51,49.51,0,0,1,8.24,25.05,50.19,50.19,0,0,1-5.14,25.86,47.39,47.39,0,0,1-16.9,18.76,49.44,49.44,0,0,1-24.36,7.89c-1.18.07-2.34.11-3.5.11a49.33,49.33,0,0,1-21.94-5,47.33,47.33,0,0,1-19-16.57,49.06,49.06,0,0,1-8.23-25A48.63,48.63,0,0,1,9.25,44.87a45.66,45.66,0,0,1,16.9-18.66A50,50,0,0,1,50.81,18.3c1.16-.07,2.31-.11,3.44-.11m.24,64.17c.4,0,.8,0,1.22,0q6.59-.41,9.72-4.8,3.33-4.62,2.9-11.6a17.23,17.23,0,0,0-4.27-11.06A11.58,11.58,0,0,0,55,51.14c-.38,0-.77,0-1.16,0q-6.78.41-9.92,4.91Q40.56,60.5,41,67.58c.29,4.79,1.72,8.52,4.28,11.16a12.06,12.06,0,0,0,9.22,3.62m-.23-68.17h0c-1.21,0-2.45,0-3.68.11A54.21,54.21,0,0,0,24,22.84,49.86,49.86,0,0,0,5.68,43.06,52.88,52.88,0,0,0,.12,71,53.11,53.11,0,0,0,9,98,51.49,51.49,0,0,0,29.64,116a53.54,53.54,0,0,0,23.69,5.37c1.23,0,2.49,0,3.74-.11a53.61,53.61,0,0,0,26.3-8.54,51.47,51.47,0,0,0,18.29-20.31,54.37,54.37,0,0,0,5.56-27.9,53.55,53.55,0,0,0-8.91-27A51,51,0,0,0,77.79,19.57a52.77,52.77,0,0,0-23.53-5.38Zm.23,64.17A8.16,8.16,0,0,1,48.18,76l0,0,0,0c-1.89-2-2.93-4.78-3.16-8.62s.46-6.67,2.1-8.84l.05-.06,0-.07c1.37-2,3.62-3,6.89-3.2l.91,0a7.59,7.59,0,0,1,6.1,2.39l0,0,0,0c1.94,2.1,3,4.91,3.22,8.58s-.47,6.69-2.15,9c-.88,1.24-2.53,2.89-6.73,3.15l-1,0Z"/><path d="M248,4a1,1,0,0,1,.94,1.27L218.14,105.36a1,1,0,0,1-.87.69L173,108.74H173a1,1,0,0,1-1-.95l-1.41-48.56a1,1,0,0,0-1-.95.94.94,0,0,0-.94.75l-12.23,50a1,1,0,0,1-.89.75L113,112.4h-.06a1,1,0,0,1-1-.88L101.88,13.91a1,1,0,0,1,.92-1.08l34.55-2.1h.06a1,1,0,0,1,1,1l-.95,56.41a.72.72,0,0,0,1.42.2l15.93-58a1,1,0,0,1,.89-.72l39.42-2.4h.06a1,1,0,0,1,1,1L198,62a.9.9,0,0,0,.93.89.89.89,0,0,0,.91-.75L210.53,7a1,1,0,0,1,.9-.79L247.89,4H248m0-4h-.3L211.19,2.23a5,5,0,0,0-4.59,4l-5.52,28.56-1-26.8a5,5,0,0,0-5-4.8h-.3l-39.43,2.4a5,5,0,0,0-4.49,3.65l-9.06,33,.51-30.45A4.93,4.93,0,0,0,141,8.21a5,5,0,0,0-3.55-1.48h-.3L102.55,8.84a5,5,0,0,0-4.65,5.48L108,111.93a5,5,0,0,0,5,4.47h.3l42.56-2.59a5,5,0,0,0,4.54-3.79l6.92-28.33.76,26.23a5,5,0,0,0,5,4.83h.3L217.51,110a5,5,0,0,0,4.46-3.51L252.71,6.44A5,5,0,0,0,248,0Z"/></g></g></svg> --}}

    </div>
</body>

</html>