<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>

<body>
    <main>
        <div class="flow-root">
            {{!-- <h1>Ollie Williams</h1> --}}

            <a class="emphasis float-right" href="mailto:oliverwilliams345@gmail.com">🡒 oliverwilliams345@gmail.com</a>
            <a class="link-button right bottom float-right" download href="assets/oliverwilliamscv.docx">Download CV
                (Word)</a>
        </div>

        <div class="two-col">

            <div class="four-images">
                <img src="assets/choose.png" alt="">
                <img src="assets/placeholder.png" alt="">
                <img src="assets/placeholder.png" alt="">
                <img src="assets/placeholder.png" alt="">
            </div>

            <div class="intro">
                <p> I am Ollie Williams, a London-based <span class="bold">ux/ui designer</span>. I
                    work at
                    giffgaff — the
                    mobile
                    network &ldquo;run by you&rdquo;.</p>
                <p>Prior to that I was working on <a href="https://www.nature.com/">Nature.com</a>, home to 148 academic
                    journals, including Nature — the world's most cited scientific journal.</p>
            </div>
        </div>
        <div class="two-col case-studies">
            <div>
                <h2>Case studies</h2>
                <ul>
                    <li><a href="/design-system">Building a design system at giffgaff</a></li>
                    <li><a href="/prototyping-navigation">Prototyping a navigation menu</a></li>
                    <li><a href="/sharing">Enhancing shareability for improved SEO at giffgaff</a></li>
                    <li><a href="/redesigning-the-phones-listing-page">Redesigning the phones listing page</a></li>
                </ul>
            </div>

            {{!-- <div>
                <h2>Writing highlights</h2>
                <ul>
                    {{#each featured-articles}}
                    <li>
                        <a href="{{this.url}}">{{this.title}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div> --}}
        </div>

        <div class="mt-80">
            <h2>Writing highlights</h2>
            <div class="featured-articles">

                <div>
                    <div>
                        <img src="assets/figma.png" alt="">
                    </div>
                    <p>Medium</p>
                    <h3><a href="#">Figma tips & tricks</a></h3>
                </div>
                <div>
                    <div>
                        <img src="assets/variable-fonts.png" alt="">
                    </div>
                    <p>CSS Tricks</p>
                    <h3><a href="#">One file, many options: using variable fonts on the web</a></h3>
                </div>

                <div>
                    <img src="assets/sketch-data.png" alt="">
                    <p>Medium</p>
                    <h3><a href="#">Using the new data feature in Sketch 52</a></h3>
                </div>
                <div>
                    <img src="assets/slow-death-of-internet-explorer.jpg" alt="">
                    <p>A List Apart</p>
                    <h3><a href="#">The slow death of Internet Explorer</a></h3>
                </div>

                <div>
                    <img src="assets/mdx.png" alt="">
                    <p>CSS Tricks</p>
                    <h3><a href="#">Front-end documentation, style guides and the rise of MDX</a></h3>
                </div>


                <div>
                    <img style="object-fit: contain;" src="assets/inputmode.png" alt="">
                    <p>CSS Tricks</p>
                    <h3><a href="#">Finger-friendly numerical inputs with inputmode</a></h3>
                </div>
            </div>
        </div>

        {{!-- <div>
            <h2>My skills</h2>
            <p>I've worked in cross-functional Agile teams at Springer Nature and giffgaff. I have experience using
                Jira for project management (along with post-it notes and a Kanban board).</p>
            <p>For UI design work my current tool of choice is Figma. I've also had extensive experience with Sketch -
                but am happy to learn other tools (I've tried Adobe XD and it seems pretty great!).
                For prototyping, I've tried Axure but find it easiest to write some code (vanilla Javascript or React).
                I rarely have a need to do detailed vector design, but am competent with Adobe Illustrator.
            </p>
        </div> --}}

        <div class="mt-80 writing">
            <h2>Writing</h2>

            <ul class="multi-col-two-col">
                {{#each articles}}
                <li>
                    <a href="{{this.url}}">{{this.title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>


    </main>
    <div class="bg-purple">

        <a class="" href="http://github.com/o-t-w"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.58 31.77">
                <path
                    d="M16.29 0a16.29 16.29 0 0 0-5.15 31.75c.82.15 1.11-.36 1.11-.79v-2.77C7.7 29.18 6.74 26 6.74 26a4.36 4.36 0 0 0-1.81-2.39c-1.47-1 .12-1 .12-1a3.43 3.43 0 0 1 2.49 1.68 3.48 3.48 0 0 0 4.74 1.36 3.46 3.46 0 0 1 1-2.18c-3.62-.41-7.42-1.81-7.42-8a6.3 6.3 0 0 1 1.67-4.37 5.94 5.94 0 0 1 .16-4.31s1.37-.44 4.48 1.67a15.41 15.41 0 0 1 8.16 0c3.11-2.11 4.47-1.67 4.47-1.67a5.91 5.91 0 0 1 .2 4.28 6.3 6.3 0 0 1 1.67 4.37c0 6.26-3.81 7.63-7.44 8a3.85 3.85 0 0 1 1.11 3v4.47c0 .53.29.94 1.12.78A16.29 16.29 0 0 0 16.29 0z"
                    fill="#4955a1" fill-rule="evenodd" /></svg></a>
        <a class="" href="https://www.linkedin.com/in/oliver-williams-8b5646184/"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2490 2490">
                <path
                    d="M2306 0H184C82.42 0 0 79.91 0 178.37v2133.32C0 2410.15 82.43 2490 184 2490h2122c101.65 0 184-79.86 184-178.34V178.37C2490 79.91 2407.62 0 2306 0zM756.69 2083.8H384.08v-1121h372.61zm-186.23-1274H568c-125 0-205.9-86.08-205.9-193.66 0-110 83.29-193.69 210.81-193.69s205.89 83.67 208.32 193.7c.02 107.54-80.86 193.62-210.77 193.62zm1529.82 1274h-372.57v-599.64c0-150.72-54-253.51-188.74-253.51-103 0-164.27 69.32-191.19 136.29-9.84 23.9-12.27 57.45-12.27 90.91v626H962.93s4.89-1015.84 0-1121h372.58v158.68c49.53-76.37 138.18-185 335.81-185 245.14 0 428.94 160.23 428.94 504.54z"
                    fill="#4955a1" /></svg></a>


    </div>
</body>

</html>