* {
    box-sizing: border-box;
}

html {
    --purple: #5651FF;
    --dark-purple: #4B46D9;
    --off-black: rgb(40, 40, 40);
    --off-white: #FAFAFA;
}

svg {
    width: 40px;
    margin-right: 8px;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figure {
    margin-top: 0;
}

figure + figure {
    margin-top: 24px;
}

figcaption {
    font-size: 14px;
    font-weight: 800;
    margin-top: 4px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
    color: var(--off-black);
    font-family: 'inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul {
    list-style-type: none;
}

li + li {
    margin-top: 12px;
}

iframe {
    border: solid 2px var(--off-black) !important;
    margin: auto;
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 40px;
    letter-spacing: -0.029em;
    font-weight: 681;
}

main {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 24px;
    margin-top: 16px;
}

@media(min-width: 900px) {
    main {
        padding-left: 40px;
        padding-right: 40px;
    }
}

a {
    color: var(--purple);
    text-decoration-color: #5651FF52;
    text-underline-offset: 3px;
    transition: text-decoration-color 350ms;
}

a:hover {
    text-decoration-color: var(--purple);
    transition: text-decoration-color 300ms;
}

.link-button {
    background-color: var(--purple);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    height: max-content;
    padding: 16px 22px 16px 22px;
    text-transform: uppercase;
    font-size: 14px;

    margin-top: 24px;
    width: 100%;
}

.link-button:hover {
    background-color: var(--dark-purple);
}

@media (min-width: 700px) {
    .flex {
        display: flex;
        align-items: center;
    }

    .link-button {
        margin-left: auto;
        width: auto;
    }
}

.emphasis {
    font-weight: 700;
    text-decoration: none;
}

@media (min-width: 650px) {
    .emphasis {
        margin-left: auto;
        margin-top: 24px;
    }
}

.intro {
    margin: auto;
    font-weight: 300;
}

@media (max-width: 650px) {
    .intro {
        margin-top: 24px;
    }
}

hr {
height: 3px;
background-color: var(--off-black);
margin-top: 16px;
margin-bottom: 16px;
border: 0;
}

@media (min-width: 650px) {
    .intro {
        font-size: 22px;
        text-align: justify;
    }


    .two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 80px;
    }

    hr {
        display: none;
    }

    .grid-3-4 {
        display: grid;
        column-gap: 80px;
        grid-template-columns: 3fr 4fr;
    }
    

    .multi-col-two-col {
        column-count: 2;
        column-gap: 40px;
    }

    .writing ul li:first-child{
        margin-top: 0;
    }
}

.bold {
    font-weight: 700;
}

.grid {
    display: grid;
    gap: 4px;
    grid-auto-flow: rows;
}

.four-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

@media (min-width: 650px) {
    .four-images {
        gap: 24px;
    }
}

@media(min-width: 800px) {
    .grid-600-1 {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 40px;
    }
}

@media(min-width: 1000px) {
    .grid-600-1 {
        display: grid;
        grid-template-columns: 600px 1fr;
        gap: 80px;
    }
}


@media (max-width: 650px) {
    .four-images {
        margin-top: 16px;
    }
}

.four-images img {
    object-fit: cover;
}

.mt-0 {
    margin-top: 0;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-80 {
    margin-top: 48px;
}
@media (min-width: 650px) {
    .mt-80 {
        margin-top: 80px;
    }
}

@media (min-width: 650px) {
    .hide-on-desktop {
        display: none !important;
    }
}

@media (max-width: 650px) {
    .hide-on-mobile {
        display: none !important;
    }
}


.bg-purple {
    border: solid 24px var(--off-white);
    background-color: var(--purple);
    min-height: 100vh;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;
    justify-content: center;
    align-content: center;
}

.bg-purple path {
    fill: white;
}

.float-right {
    float: right;
    clear: both;
}

.flow-root {
    display: flow-root;
}

.featured-articles {
    display: grid;
    gap: 16px;
}

@media (min-width: 650px) {
    .featured-articles {
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.featured-articles h3 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 4px;
}

.featured-articles img {
    height: 145px;
    width: 100%;
    object-fit: cover;
    outline: solid 12px #4b46d99c;
    outline-offset: -12px;
    /* filter: grayscale(1);
    opacity: .9; */
}

.featured-articles img:hover {
    filter: grayscale(0);
    transition: filter 300ms, opacity 300ms;
    opacity: 1;
}

.featured-articles p {
    font-size: 14px;
    font-weight: 800;
    color: #4a4a4a;
    margin-top: 8px;
    margin-bottom: 0;
}

.featured-articles a {
    text-decoration: none;
}

.case-studies a {
    font-size: 18px;
}

.handwritten {
    font-size: 23px;
    font-family: 'Gaegu';
    color: white;
    grid-column: span 2;
    font-weight: 900;
    letter-spacing: -0.7px;
}

@media (max-width: 650px) {
    .top-of-page {
        margin-top: 0px !important;
    }
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5651ff;
    color: white;
    overflow: hidden;
    flex-direction: column;
}

.portfolio__text {
    text-align: center;
    font-size: 40px;
    transform: rotate(-45deg);
    letter-spacing: 1px;
    font-weight: 900;
}

.readable-width {
    max-width: 600px;
}

.btn {
    background-color: var(--purple);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 8px;
    display: inline-block;
    margin-bottom: 8px;
}